@import "tailwindcss";

@theme {
    --chat-main-color: #212121;
    --chat-user-color: #2e2e2e;
}

@layer utilities {
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #737373 transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        scrollbar-color: #737373 transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #737373;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .sidebar-closed {
        @apply hidden;
    }
}